<html>
    <head></head>
    <body style="margin: 0 !important">
        <div id="mainContainner"></div>
    </body>

    <script src="/lib/phaser-input.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/dist/main.js"></script>
</html>